.user-management {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; // Centre les éléments horizontalement
    text-align: center; // Centre le texte dans les blocs

    .user-list {
        max-width: 400px; // Limite la largeur pour éviter l'étirement excessif
        border-bottom: 1px solid #ccc;
        padding-bottom: 6px;

        h2 {
            font-size: 1.2rem;
            margin-bottom: 6px;
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 1rem;
                margin-bottom: 4px;
                color: #666;
            }
        }
    }

    .add-user-form {
        width: 100%; // Utilise la largeur maximale disponible
        max-width: 500px; // Définit une largeur maximale pour le formulaire
        margin-top: 12px;
        border: 1px solid #ccc;
        padding: 12px;
        background-color: #f9f9f9;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center; // Centre le formulaire horizontalement

        h2 {
            font-size: 1.2rem;
            margin-bottom: 10px;
            color: #333;
        }

        form {
            width: 100%; // Utilise la largeur maximale disponible
            display: flex;
            flex-direction: column;

            label {
                font-size: 0.9rem;
                margin-bottom: 3px;
                color: black;
                font-weight: bold;
            }

            input {
                padding: 6px;
                margin-bottom: 6px;
                font-size: 0.9rem;
                border: 1px solid #ccc;
                border-radius: 4px;
                transition: border-color 0.3s;

                &:focus {
                    outline: none;
                    border-color: #007bff;
                    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
                }
            }

            button {
                padding: 8px 14px;
                background-color: #007bff;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 0.9rem;
                border-radius: 4px;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }
}
