<div class="user-management">
  <h2>Gestion des utilisateurs</h2>

  <!-- Liste des utilisateurs -->
  <div class="user-list">
    <h3>Liste des utilisateurs</h3>
    <ul>
      <li *ngFor="let user of users; let i = index">
        {{ user.name }} 
        <button class="delete-button" (click)="deleteUser(i)">Supprimer</button>
      </li>
    </ul>
  </div>

  <!-- Formulaire d'ajout d'utilisateur -->
  <div class="add-user-form">
    <h2>Ajouter un utilisateur</h2>
    <form (ngSubmit)="addUser()">
      <label for="userName">Nom :</label>
      <input type="text" id="userName" name="userName" [(ngModel)]="newUser.name" required />
      <div *ngIf="!newUser.name && formSubmitted" class="error-message">Le nom est obligatoire.</div>

      <label for="userEmail">Email :</label>
      <input type="email" id="userEmail" name="userEmail" [(ngModel)]="newUser.email" required />
      <div *ngIf="!newUser.email && formSubmitted" class="error-message">L'email est obligatoire.</div>
      <div *ngIf="newUser.email && !isValidEmail(newUser.email) && formSubmitted" class="error-message">Entrez une adresse email valide.</div>

      <button type="submit">Ajouter l'utilisateur</button>
    </form>
  </div>

  <!-- Notification -->
  <div *ngIf="showNotification" class="notification">
    {{ notificationMessage }}
  </div>
</div>
